<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Properties>
        <Property name="LOG_PATTERN">%highlightError{[%d{HH:mm:ss}] %highlight{[%level]}: %minecraftFormatting{%msg}%n%xEx}</Property>
        <Property name="LOG_FILE_PATTERN">[%d{HH:mm:ss}] [%level] [%logger]: %msg%n%xEx</Property>
    </Properties>

    <Appenders>
        <TerminalConsole name="TerminalConsole">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </TerminalConsole>

        <RollingRandomAccessFile name="File" fileName="./logs/latest.log"
                     filePattern="./logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_FILE_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>
        <Async name="Async">
            <AppenderRef ref="rewrite"/>
        </Async>
        <Rewrite name="rewrite">
            <AppenderRef ref="rewrite2"/>
        </Rewrite>
        <Rewrite name="rewrite2">
            <AppenderRef ref="File"/>
            <AppenderRef ref="TerminalConsole" level="info"/>
        </Rewrite>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Async"/>
        </Root>
        <Logger name="org.reflections" level="off" />
    </Loggers>

</Configuration>